* {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}

.menu {
    display: flex;
}

.menu ul {
    list-style-type: ;
    margin: 0;
    padding: 0;

}

menu ul li {
    float: left;

}

menu ul li a {
    display: flex;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: beige;
    font-weight: bold;
}
img {
    display: block;
    width: 300px;
    margin: 300x auto;
